.error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: white;
    font-size: 50px;
    margin-bottom: 200px;
    .text {
        .text__error {

        }
    }
}