.navbar {
    background-color: #36394E;
    position: sticky;
    top: 0;
    z-index: 3;
    &.enabled {
        flex-direction: column;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        .burger-menu {
            margin-left: calc(#{$enabledWidth} + 20px);
            margin: 0;
            left: 0;
        }
        .logo-container {
            height: 60px;
            .logo-container__logo {
                width: 150px;
                height: auto;
            }
        }
    }
    .content {
        position: absolute;
        background-color: #36394E;
        width: 100%;
        .menu-container {
            .menu-container__title {
                color: #5BC4FF;
                margin-left: 30px;
            }
            @include list;
        }
        .support-container {
            margin-top: 40px;
            .support-container__title {
                color: #5BC4FF;
                margin-left: 30px;
            }
            @include list;
            .fab {
                width: 50px;
                text-align: center;
            }
        }
    }
}