.weather-container {
    color: white;
    margin-left: 100px;
    margin-top: 60px;
    font-size: 25px;
    .searcher {
        .searcher__title {

        }
        .input-container {
            display: flex;
            align-items: center;
            background-color: #36394E;
            border-radius: 8px;
            width: 420px;
            .fa-search {
                width: 20px;
                font-size: 20px;
                padding: 10px;
            }
           .searcher__input {
               width: 400px;
               height: 30px;
               border-radius: 8px;
               border: none;
               outline: none;
               background-color: #36394E;
               color: white;
               font-family: 'Alatsi', sans-serif;
           }
        }
        .results {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding-left: 0;
            background-color: #36394E;
            width: 420px;
            max-height: 180px;
            overflow-y: auto;
            overflow-x: hidden;
            margin: 0;
            z-index: 2;
            position: absolute;
            border-bottom: 3px solid #28293B;
            .list__item {
                display: grid;
                grid-template-columns: 40px 330px 50px;
                grid-template-rows: 40px;
                align-items: center;
                width: 420px;
                font-size: 20px;
                border-radius: 8px;
                border: 2px solid #36394E;
                transition: border .25s;
                box-sizing: border-box;
                cursor: pointer;
                &:hover {
                    border: 2px solid #5BC4FF;
                }
                .fa-map-marker-alt {
                    justify-self: center;
                    color: #5BC4FF;
                }
                .list__province {

                }
                .list__flag {
                    background-color: white;
                }
            }
        }
    }
    .five-days-weather {
        .five-days-weather__title {
        }
        .list {
            display: flex;
            gap: 30px;
            list-style: none;
            padding-left: 0;
            .list__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 200px;
                height: 300px;
                background-color: #36394E;
                border-radius: 8px;
                padding: 10px;
                box-sizing: border-box;
                box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.76);
                transition: background-color .25s;
                cursor: pointer;
                &:nth-child(1) {
                    border: 2px solid #5BC4FF;
                }
                &:hover {
                    background-color: #5bc3ff;
                    .fas {
                        animation: icon infinite 1s linear;
                    }
                }
                .list__day {
                    margin: 0;
                    text-transform: capitalize;
                }
                .list__date {
                    margin-top: 10px;
                }
                .fas {
                    font-size: 50px;
                }
                .fa-sun {
                    color: yellow;
                }
                .fa-moon {
                    display: none;
                }
                .list__temperature {
                    margin: 0;
                    margin-top: 20px;
                }
                .list__wind-direction {
                    margin: 0;
                    margin-top: 10px;
                }
                .list__wind-speed {
                    margin: 0;
                    
                }
            }
        }
    }
    .today-weather {
        .today-weather__title {

        }
        .list {
            display: grid;
            grid-auto-rows: 50px;
            gap: 10px;
            list-style: none;
            padding-left: 0;
            font-size: 20px;
            .list__item {
                display: grid;
                grid-template-columns: 200px 250px 200px 200px 150px 200px;
                grid-auto-rows: 50px;
                align-items: center;
                background-color: #36394E;
                border-radius: 8px;
                transition: background-color .25s;
                &.active {
                    border: 2px solid #5BC4FF;
                }
                &:hover {
                    background-color: #5BC4FF;
                    .weather__precipitation {
                        .fa-cloud-rain {
                            color: #0062ff;
                        }
                    }
                }
                .list__hour {
                    padding-left: 20px;
                }
                .fas {
                }
                .fa-sun {
                    font-size: 30px;
                    color: yellow;
                }
                .fa-moon {
                    display: none;
                    font-size: 30px;
                }
                .list__temperature {
                }
                .weather__precipitation {
                    display: flex;
                    align-items: center;
                    .fa-cloud-rain {
                        color: #5BC4FF;
                    }
                    .list__precipitation {
                        margin-left: 10px;
                    }
                }
                .wind-direction {
                    display: flex;
                    align-items: center;
                    .fa-arrow-up {
                        color: yellowgreen;
                    }
                    .list__wind-direction {
                        margin-left: 10px;
                    }
                }
                .wind-speed {
                    display: flex;
                    align-items: center;
                    justify-self: right;
                    padding-right: 20px;
                    .fa-wind {
                        color: rgb(196, 196, 196);
                    }
                    .list__wind-speed {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}