@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
  }
  
  @mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
    @each $property in $properties {
      #{$property}: $min-value;
    }
  
    @media screen and (min-width: $min-vw) {
      @each $property in $properties {
        #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
      }
    }
  
    @media screen and (min-width: $max-vw) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }

.weather-container {
    color: white;
    margin-left: 100px;
    margin-top: 60px;
    font-size: 25px;
    .searcher {
        .searcher__title {

        }
        .input-container {
            display: flex;
            align-items: center;
            background-color: #36394E;
            border-radius: 8px;
            width: 420px;
            .fa-search {
                width: 20px;
                font-size: 20px;
                padding: 10px;
            }
           .searcher__input {
               width: 400px;
               height: 30px;
               border-radius: 8px;
               border: none;
               outline: none;
               background-color: #36394E;
               color: white;
               font-family: 'Alatsi', sans-serif;
           }
        }
        .results {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding-left: 0;
            background-color: #36394E;
            width: 420px;
            max-height: 180px;
            overflow-y: auto;
            overflow-x: hidden;
            margin: 0;
            z-index: 2;
            position: absolute;
            border-bottom: 3px solid #28293B;
            .list__item {
                display: grid;
                grid-template-columns: 40px 330px 50px;
                grid-template-rows: 40px;
                align-items: center;
                width: 420px;
                font-size: 20px;
                border-radius: 8px;
                border: 2px solid #36394E;
                transition: border .25s;
                box-sizing: border-box;
                cursor: pointer;
                &:hover {
                    border: 2px solid #5BC4FF;
                }
                .fa-map-marker-alt {
                    justify-self: center;
                    color: #5BC4FF;
                }
                .list__province {

                }
                .list__flag {
                    background-color: white;
                }
            }
        }
    }
    .five-days-weather {
        .five-days-weather__title {
        }
        .list {
            display: flex;
            gap: 30px;
            list-style: none;
            padding-left: 0;
            .list__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 200px;
                height: 300px;
                background-color: #36394E;
                border-radius: 8px;
                padding: 10px;
                box-sizing: border-box;
                box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.76);
                transition: background-color .25s;
                border: 2px solid #36394E;
                cursor: pointer;
                &.active {
                    border: 2px solid #5BC4FF;
                }
                &:hover {
                    background-color: #5bc3ff;
                    .fas {
                        animation: icon infinite 1s linear;
                    }
                }
                .date-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .list__day {
                        margin: 0;
                        text-transform: capitalize;
                    }
                    .list__date {
                        margin-top: 10px;
                    }
                }
                .fas {
                    font-size: 50px;
                    margin-top: 20px;
                }
                .fa-sun {
                    color: yellow;
                }
                .fa-moon {
                    display: none;
                }
                .list__temperature {
                    margin: 0;
                    margin-top: 20px;
                }
                .list__wind-direction {
                    margin: 0;
                    margin-top: 10px;
                }
                .list__wind-speed {
                    margin: 0;
                    
                }
            }
        }
    }
    .today-weather {
        .today-weather__title {

        }
        .list {
            display: grid;
            grid-auto-rows: 50px;
            gap: 10px;
            list-style: none;
            padding-left: 0;
            font-size: 20px;
            .list__item {
                display: grid;
                grid-template-columns: 200px 160px 200px 200px 150px 200px;
                grid-auto-rows: 50px;
                align-items: center;
                background-color: #36394E;
                border-radius: 8px;
                transition: background-color .25s;
                &.active {
                    border: 2px solid #5BC4FF;
                }
                &:hover {
                    background-color: #5BC4FF;
                    .weather__precipitation {
                        .fa-cloud-rain {
                            color: #0062ff;
                        }
                    }
                }
                .list__hour {
                    padding-left: 20px;
                }
                .fas {
                }
                .fa-sun {
                    font-size: 30px;
                    color: yellow;
                }
                .fa-moon {
                    display: none;
                    font-size: 30px;
                }
                .list__temperature {
                }
                .weather__precipitation {
                    display: flex;
                    align-items: center;
                    .fa-cloud-rain {
                        color: #5BC4FF;
                    }
                    .list__precipitation {
                        margin-left: 10px;
                    }
                }
                .wind-direction {
                    display: flex;
                    align-items: center;
                    .fa-arrow-up {
                        color: yellowgreen;
                    }
                    .list__wind-direction {
                        margin-left: 10px;
                    }
                }
                .wind-speed {
                    display: flex;
                    align-items: center;
                    justify-self: right;
                    padding-right: 20px;
                    .fa-wind {
                        color: rgb(196, 196, 196);
                    }
                    .list__wind-speed {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1300px) {
    .weather-container {
        margin-left: 0;
        margin-top: 0;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        .searcher {
            width: 100%;
            position: relative;
            .searcher__title {
                font-size: 23px;
            }
            .input-container {
                width: 100%;
                .fa-search {
                }
               .searcher__input {
               }
            }
            .results {
                width: 100%;
                .list__item {
                    width: 100%;
                    .fa-map-marker-alt {
                    }
                }
            }
        }
        .five-days-weather {
            .five-days-weather__title {
                font-size: 23px;
            }
            .list {
                flex-direction: column;
                // font-size: 13px;
                font-size: 4vw;
                @include fluid-type(font-size, 600px, 1200px, 13px, 20px);
                gap: 10px;
                .list__item {
                    display: grid;
                    // grid-template-columns: 62px 40px 40px 50px 45px;
                    grid-template-columns: 20% 26% 16% 16% 22%;
                    grid-template-rows: 66px;
                    width: 100%;
                    height: 70px;
                    padding: 0;
                    .date-container {
                        display: flex;
                        align-items: flex-start;
                        padding: 10px;
                        .list__day {
                        }
                        .list__date {
                            margin-top: 0;
                        }
                    }
                    .fas {
                        font-size: 25px;
                        margin: 0;
                        justify-self: center;
                    }
                    .fa-sun {
                    }
                    .fa-moon {
                    }
                    .list__temperature {
                        margin: 0;
                        justify-self: center;
                    }
                    .list__wind-direction {
                        margin: 0;
                        justify-self: center;
                    }
                    .list__wind-speed {
                        justify-self: center;
                    }
                }
            }
        }
        .today-weather {
            .today-weather__title {
                font-size: 23px;
            }
            .list {
                
                .list__item {
                    font-size: 13px;
                    @include fluid-type(font-size, 600px, 1200px, 13px, 20px);
                    grid-template-columns: 17% 14% 14% 15% 20% 20%;
                    .fas {
                        // font-size: 15px;
                        @include fluid-type(font-size, 600px, 1200px, 15px, 20px);
                    }
                    .list__hour {
                        justify-self: center;
                        padding: 0;
                        .fas {
                            font-size: 20px;
                        }
                    }
                    .fa-sun {
                        justify-self: center;
                        @include fluid-type(font-size, 600px, 1200px, 15px, 30px);
                    }
                    .fa-moon {
                        justify-self: center;
                        @include fluid-type(font-size, 600px, 1200px, 15px, 30px);
                    }
                    .list__temperature {
                        display: flex;
                        flex-direction: column;
                        justify-self: center;
                        .list__celsius {

                        }
                        .list__fahrenheit {
                            
                        }
                    }
                    .weather__precipitation {
                        flex-direction: column;
                        justify-self: center;
                        .fa-cloud-rain {
                        }
                        .list__precipitation {
                            margin-left: 5px;
                        }
                    }
                    .wind-direction {
                        flex-direction: column;
                        justify-self: center;
                        .fa-arrow-up {
                        }
                        .list__wind-direction {
                            margin-left: 0;
                        }
                    }
                    .wind-speed {
                        flex-direction: column;
                        justify-self: left;
                        padding: 0;
                        .list__wind-speed {
                        }
                    }
                }
            }
        }
    }
}

// @media screen and (min-width: 769px) and (max-width: 1500px) {
//     .weather-container {
//         .five-days-weather {
//             .five-days-weather__title {
//                 font-size: 23px;
//             }
//             .list {
//                 font-size: 13px;
//             }
//         }
//     }
// }

