html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(100vh - calc(100vh - 100%));
}

html*, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: calc(100vh - calc(100vh - 100%));
  width: 100%;
  font-family: 'Alatsi', sans-serif;
  background-color: #28293B;
}

body #root {
  height: 100%;
}

body .app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

@-webkit-keyframes icon {
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes icon {
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.sidebar-container {
  width: 300px;
  height: auto;
  background-color: #36394E;
  color: white;
  font-size: 23px;
}

.sidebar-container .sidebar .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  margin-top: 20px;
}

.sidebar-container .sidebar .menu-container .menu-container__title {
  color: #5BC4FF;
  margin-left: 30px;
}

.sidebar-container .sidebar .menu-container .list {
  list-style: none;
  padding-left: 0px;
}

.sidebar-container .sidebar .menu-container .list .list__href {
  text-decoration: none;
  color: white;
}

.sidebar-container .sidebar .menu-container .list .list__href .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 21px;
  margin-top: 20px;
  padding-left: 20px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  border-radius: 8px;
}

.sidebar-container .sidebar .menu-container .list .list__href .list__item:hover {
  background-color: #5BC4FF;
}

.sidebar-container .sidebar .menu-container .list .list__href .list__item .fas {
  width: 50px;
  text-align: center;
}

.sidebar-container .sidebar .menu-container .list .list__href .list__item .list__title {
  text-decoration: none;
  color: white;
}

.sidebar-container .sidebar .support-container {
  margin-top: 80px;
}

.sidebar-container .sidebar .support-container .support-container__title {
  color: #5BC4FF;
  margin-left: 30px;
}

.sidebar-container .sidebar .support-container .list {
  list-style: none;
  padding-left: 0px;
}

.sidebar-container .sidebar .support-container .list .list__href {
  text-decoration: none;
  color: white;
}

.sidebar-container .sidebar .support-container .list .list__href .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 21px;
  margin-top: 20px;
  padding-left: 20px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  border-radius: 8px;
}

.sidebar-container .sidebar .support-container .list .list__href .list__item:hover {
  background-color: #5BC4FF;
}

.sidebar-container .sidebar .support-container .list .list__href .list__item .fas {
  width: 50px;
  text-align: center;
}

.sidebar-container .sidebar .support-container .list .list__href .list__item .list__title {
  text-decoration: none;
  color: white;
}

.sidebar-container .sidebar .support-container .fab {
  width: 50px;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .sidebar-container {
    display: none;
    width: 300px;
    height: auto;
    background-color: #36394E;
    color: white;
    font-size: 23px;
  }
  .sidebar-container .sidebar .logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
  }
  .sidebar-container .sidebar .menu-container .menu-container__title {
    color: #5BC4FF;
    margin-left: 30px;
  }
  .sidebar-container .sidebar .menu-container .list {
    list-style: none;
    padding-left: 0px;
  }
  .sidebar-container .sidebar .menu-container .list .list__href {
    text-decoration: none;
    color: white;
  }
  .sidebar-container .sidebar .menu-container .list .list__href .list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 21px;
    margin-top: 20px;
    padding-left: 20px;
    height: 40px;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    border-radius: 8px;
  }
  .sidebar-container .sidebar .menu-container .list .list__href .list__item:hover {
    background-color: #5BC4FF;
  }
  .sidebar-container .sidebar .menu-container .list .list__href .list__item .fas {
    width: 50px;
    text-align: center;
  }
  .sidebar-container .sidebar .menu-container .list .list__href .list__item .list__title {
    text-decoration: none;
    color: white;
  }
  .sidebar-container .sidebar .support-container {
    margin-top: 80px;
  }
  .sidebar-container .sidebar .support-container .support-container__title {
    color: #5BC4FF;
    margin-left: 30px;
  }
  .sidebar-container .sidebar .support-container .list {
    list-style: none;
    padding-left: 0px;
  }
  .sidebar-container .sidebar .support-container .list .list__href {
    text-decoration: none;
    color: white;
  }
  .sidebar-container .sidebar .support-container .list .list__href .list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 21px;
    margin-top: 20px;
    padding-left: 20px;
    height: 40px;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    border-radius: 8px;
  }
  .sidebar-container .sidebar .support-container .list .list__href .list__item:hover {
    background-color: #5BC4FF;
  }
  .sidebar-container .sidebar .support-container .list .list__href .list__item .fas {
    width: 50px;
    text-align: center;
  }
  .sidebar-container .sidebar .support-container .list .list__href .list__item .list__title {
    text-decoration: none;
    color: white;
  }
  .sidebar-container .sidebar .support-container .fab {
    width: 50px;
    text-align: center;
  }
}

.home {
  color: white;
  margin-left: 100px;
  margin-top: 60px;
  font-size: 20px;
}

.home .todays-weather .weather__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .todays-weather .weather__title-container .see-more {
  margin-left: 60px;
}

.home .todays-weather .weather__title-container .see-more .see-more__button {
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  background-color: #36394E;
  font-family: 'Alatsi', sans-serif;
  font-size: 18px;
  color: white;
  border: none;
  -webkit-box-shadow: 0px 4px 54px 1px black;
          box-shadow: 0px 4px 54px 1px black;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.home .todays-weather .weather__title-container .see-more .see-more__button:hover {
  background-color: #5BC4FF;
}

.home .todays-weather .cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 300px 300px;
      grid-template-columns: 600px 300px 300px;
  -ms-grid-rows: 125px 125px;
      grid-template-rows: 125px 125px;
  row-gap: 0px;
  -webkit-column-gap: 80px;
          column-gap: 80px;
}

.home .todays-weather .cards-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(#6AB8FF), to(rgba(0, 132, 255, 0.75)));
  background: linear-gradient(90deg, #6AB8FF 0%, rgba(0, 132, 255, 0.75) 100%);
  -webkit-box-shadow: 0px 4px 54px 1px rgba(0, 0, 0, 0.76);
          box-shadow: 0px 4px 54px 1px rgba(0, 0, 0, 0.76);
  border-radius: 25px;
  margin-left: 10px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  padding: 20px;
  cursor: pointer;
}

.home .todays-weather .cards-container .card:nth-child(1) {
  width: 600px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  padding: 0px;
  border-radius: 50px;
}

.home .todays-weather .cards-container .card:nth-child(1) .temperature .fa-sun {
  color: yellow;
  font-size: 70px;
}

.home .todays-weather .cards-container .card:nth-child(1) .temperature .fa-moon {
  font-size: 40px;
  display: none;
  margin-bottom: 10px;
}

.home .todays-weather .cards-container .card:nth-child(1) .temperature .temperature__data {
  margin-left: 20px;
  font-size: 80px;
}

.home .todays-weather .cards-container .card:nth-child(1) .weather-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

.home .todays-weather .cards-container .card:nth-child(1) .weather-data .weather__text {
  font-size: 30px;
}

.home .todays-weather .cards-container .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.home .todays-weather .cards-container .card:hover .temperature .fa-sun {
  -webkit-animation: icon infinite 1s linear;
          animation: icon infinite 1s linear;
}

.home .todays-weather .cards-container .card:hover .temperature .fa-moon {
  -webkit-animation: icon infinite 1s linear;
          animation: icon infinite 1s linear;
}

.home .todays-weather .cards-container .card.night {
  background: -webkit-gradient(linear, left top, right top, from(#3c6fa0), to(rgba(0, 79, 153, 0.75)));
  background: linear-gradient(90deg, #3c6fa0 0%, rgba(0, 79, 153, 0.75) 100%);
}

.home .todays-weather .cards-container .card.night .weather-data .fa-sun {
  display: none;
}

.home .todays-weather .cards-container .card.night .weather-data .fa-moon {
  display: inline-block;
}

.home .todays-weather .cards-container .card .temperature .fa-sun {
  color: yellow;
  font-size: 50px;
}

.home .todays-weather .cards-container .card .temperature .fa-moon {
  font-size: 40px;
  display: none;
  margin-bottom: 10px;
}

.home .todays-weather .cards-container .card .temperature .temperature__data {
  font-size: 50px;
  margin-left: 20px;
}

.home .todays-weather .cards-container .card .temperature .card-data {
  font-size: 30px;
}

.home .todays-weather .cards-container .card .temperature .card-data .card__hour {
  line-height: 0;
  margin: 10px 0;
}

.home .todays-weather .cards-container .card .temperature .card-data .wind-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .todays-weather .cards-container .card .temperature .card-data .wind-data .card__wind-direction {
  line-height: 0;
  margin: 25px 0;
  margin-left: 10px;
}

.home .todays-weather .cards-container .card .temperature .card-data .wind-data .card__wind {
  line-height: 0;
}

.home .todays-weather .cards-container .card .temperature .card-data .wind-data .fa-arrow-up {
  margin-left: 10px;
  color: #00ff80;
}

.home .todays-weather .cards-container .card .temperature .card-data .wind-data .card__wind-speed {
  line-height: 0;
  margin-left: 10px;
}

.home .todays-weather .cards-container .card .weather-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  width: 100px;
}

.home .todays-weather .cards-container .card .weather-data .weather__text {
  text-transform: capitalize;
  line-height: 0;
  font-size: 20px;
  color: #00ff80;
}

.home .todays-weather .cards-container .card .weather-data .weather__location {
  line-height: 0;
}

.home .todays-weather .chart {
  width: 1000px;
  height: 400px;
  margin-top: 80px;
}

.home .todays-weather .chart * {
  color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .home {
    width: 100%;
    margin: 0;
    font-size: 15px;
  }
  .home .todays-weather .weather__title-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .todays-weather .weather__title-container .weather__title {
    text-align: center;
  }
  .home .todays-weather .weather__title-container .see-more {
    margin-left: 0;
  }
  .home .todays-weather .weather__title-container .see-more .see-more__button {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .home .todays-weather .cards-container .card .temperature .card-data .wind-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .todays-weather .cards-container .card .weather-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.weather-container {
  color: white;
  margin-left: 100px;
  margin-top: 60px;
  font-size: 25px;
}

.weather-container .searcher .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #36394E;
  border-radius: 8px;
  width: 420px;
}

.weather-container .searcher .input-container .fa-search {
  width: 20px;
  font-size: 20px;
  padding: 10px;
}

.weather-container .searcher .input-container .searcher__input {
  width: 400px;
  height: 30px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #36394E;
  color: white;
  font-family: 'Alatsi', sans-serif;
}

.weather-container .searcher .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding-left: 0;
  background-color: #36394E;
  width: 420px;
  margin: 0;
}

.weather-container .searcher .results .list__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 330px 50px;
      grid-template-columns: 40px 330px 50px;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 420px;
  font-size: 20px;
  border-radius: 8px;
  border: 2px solid #36394E;
  -webkit-transition: border .25s;
  transition: border .25s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.weather-container .searcher .results .list__item:hover {
  border: 2px solid #5BC4FF;
}

.weather-container .searcher .results .list__item .fa-map-marker-alt {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #5BC4FF;
}

.weather-container .searcher .results .list__item .list__flag {
  background-color: white;
}

.weather-container .five-days-weather .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style: none;
  padding-left: 0;
}

.weather-container .five-days-weather .list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 300px;
  background-color: #36394E;
  border-radius: 8px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.76);
          box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.76);
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.weather-container .five-days-weather .list .list__item:nth-child(1) {
  border: 2px solid #5BC4FF;
}

.weather-container .five-days-weather .list .list__item:hover {
  background-color: #5bc3ff;
}

.weather-container .five-days-weather .list .list__item:hover .fas {
  -webkit-animation: icon infinite 1s linear;
          animation: icon infinite 1s linear;
}

.weather-container .five-days-weather .list .list__item .list__day {
  margin: 0;
  text-transform: capitalize;
}

.weather-container .five-days-weather .list .list__item .list__date {
  margin-top: 10px;
}

.weather-container .five-days-weather .list .list__item .fas {
  font-size: 50px;
}

.weather-container .five-days-weather .list .list__item .fa-sun {
  color: yellow;
}

.weather-container .five-days-weather .list .list__item .fa-moon {
  display: none;
}

.weather-container .five-days-weather .list .list__item .list__temperature {
  margin: 0;
  margin-top: 20px;
}

.weather-container .five-days-weather .list .list__item .list__wind-direction {
  margin: 0;
  margin-top: 10px;
}

.weather-container .five-days-weather .list .list__item .list__wind-speed {
  margin: 0;
}

.weather-container .today-weather .list {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 50px;
  gap: 10px;
  list-style: none;
  padding-left: 0;
  font-size: 20px;
}

.weather-container .today-weather .list .list__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 250px 200px 200px 150px 200px;
      grid-template-columns: 200px 250px 200px 200px 150px 200px;
  grid-auto-rows: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #36394E;
  border-radius: 8px;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.weather-container .today-weather .list .list__item.active {
  border: 2px solid #5BC4FF;
}

.weather-container .today-weather .list .list__item:hover {
  background-color: #5BC4FF;
}

.weather-container .today-weather .list .list__item:hover .weather__precipitation .fa-cloud-rain {
  color: #0062ff;
}

.weather-container .today-weather .list .list__item .list__hour {
  padding-left: 20px;
}

.weather-container .today-weather .list .list__item .fa-sun {
  font-size: 30px;
  color: yellow;
}

.weather-container .today-weather .list .list__item .fa-moon {
  display: none;
  font-size: 30px;
}

.weather-container .today-weather .list .list__item .weather__precipitation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-container .today-weather .list .list__item .weather__precipitation .fa-cloud-rain {
  color: #5BC4FF;
}

.weather-container .today-weather .list .list__item .weather__precipitation .list__precipitation {
  margin-left: 10px;
}

.weather-container .today-weather .list .list__item .wind-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-container .today-weather .list .list__item .wind-direction .fa-arrow-up {
  color: yellowgreen;
}

.weather-container .today-weather .list .list__item .wind-direction .list__wind-direction {
  margin-left: 10px;
}

.weather-container .today-weather .list .list__item .wind-speed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: right;
  padding-right: 20px;
}

.weather-container .today-weather .list .list__item .wind-speed .fa-wind {
  color: #c4c4c4;
}

.weather-container .today-weather .list .list__item .wind-speed .list__wind-speed {
  margin-left: 10px;
}
/*# sourceMappingURL=index.css.map */