html {
    box-sizing: border-box;
    &*, *::before, *::after {
        box-sizing: inherit;
    }
    height: calc(100vh - calc(100vh - 100%));
}

body {
    margin: 0;
    overflow-x: hidden;
    height: calc(100vh - calc(100vh - 100%));
    width: 100%;
    font-family: 'Alatsi', sans-serif;
    background-color: #28293B;
    #root {
        height: 100%;
    }
    .app-container {
        display: flex;
        // height: 100vh;
        min-height: 100%;
        height: min-content;
    }
}

@keyframes icon {
    100% {
        transform: rotate(90deg);
    }
} 

@import "./sidebar";
@import "./home";
@import "./weather";