html {
    box-sizing: border-box;
    &*, *::before, *::after {
        box-sizing: inherit;
    }
    height: calc(100vh - calc(100vh - 100%));
}

body {
    margin: 0;
    overflow-x: hidden;
    height: calc(100vh - calc(100vh - 100%));
    width: 100%;
    font-family: 'Alatsi', sans-serif;
    background-color: #28293B;
    #root {
        height: 100%;
    }
    .app-container {
        display: flex;
        min-height: 100%;
        height: min-content;
    }
}

@keyframes icon {
    100% {
        transform: rotate(90deg);
    }
} 

@mixin list {
    .list{
        list-style: none;
        padding-left: 0px;
        .list__href {
            text-decoration: none;
            color: white;
            .list__item {
                display: flex;
                align-items: center;
                font-size: 21px;
                margin-top: 20px;
                padding-left: 20px;
                height: 40px;
                cursor: pointer;
                transition: background-color .2s;
                border-radius: 8px;
                &:hover {
                    background-color: #5BC4FF;
                }
                .fas {
                    width: 50px;
                    text-align: center;
                }
                .list__title {
                    transition: all 0s .1s;
                    text-decoration: none;
                    color: white;
                    height: 27px;
                    width: 100px;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1700px) {
    body {
        .app-container {
            display: flex;
            flex-direction: column;
        }
    }
}

@import "./sidebar";
@import "./navbar";
@import "./home";
@import "./weather";
@import "./error";